In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('../datos/database.csv')
df

,Name,Battery_kWh,Acceleration_sec,TopSpeed_kmh,Range_km,Efficiency_Whkm,NumberofSeats,PriceinEurope,Score
0,Smart EQ fortwo coupe,16.7,11.6,130.0,100.0,167.0,2,18460,0.319694
1,Smart EQ forfour,16.7,12.7,130.0,95.0,176.0,4,19120,0.317968
2,Smart EQ fortwo cabrio,16.7,11.9,130.0,95.0,176.0,2,21720,0.307582
3,Fiat 500e Hatchback 24 kWh,23.8,9.5,135.0,165.0,144.0,4,23560,0.385089
4,Fiat 500e Hatchback 42 kWh,37.3,9.0,150.0,250.0,149.0,4,27560,0.418001
...,...,...,...,...,...,...,...,...,...
122,Porsche Taycan Turbo,83.7,3.2,260.0,400.0,209.0,4,153016,0.429487
123,Porsche Taycan Turbo Cross Turismo,83.7,3.3,250.0,385.0,217.0,4,154444,0.415777
124,Porsche Taycan Turbo S,83.7,2.8,260.0,390.0,215.0,4,186336,0.402250
125,Porsche Taycan Turbo S Cross Turismo,83.7,2.9,250.0,380.0,220.0,4,187746,0.391977
126,Tesla Roadster,200.0,2.1,410.0,970.0,206.0,4,215000,0.666952

In [7]:
nombres_deseados = ['Smart EQ fortwo cabrio', 'Tesla Roadster ', 'Tesla Cybertruck Dual Motor', 'Mercedes EQS 450+', 'Porsche Taycan 4 Cross Turismo', 'Opel Zafira-e Life L 50 kWh']
df = df[df['Name'].isin(nombres_deseados)]

In [8]:
df

,Name,Battery_kWh,Acceleration_sec,TopSpeed_kmh,Range_km,Efficiency_Whkm,NumberofSeats,PriceinEurope,Score
2,Smart EQ fortwo cabrio,16.7,11.9,130.0,95.0,176.0,2,21720,0.307582
72,Opel Zafira-e Life L 50 kWh,45.0,12.1,130.0,180.0,250.0,7,54625,0.309374
74,Tesla Cybertruck Dual Motor,120.0,5.0,190.0,460.0,261.0,7,55000,0.495047
106,Porsche Taycan 4 Cross Turismo,83.7,5.1,220.0,405.0,207.0,4,93635,0.450300
113,Mercedes EQS 450+,107.8,6.2,210.0,640.0,168.0,5,106374,0.544659
126,Tesla Roadster,200.0,2.1,410.0,970.0,206.0,4,215000,0.666952

In [9]:
df.to_csv('database.csv', index=False)